<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
		<bindings>
      <basicHttpBinding>
		  <binding name="BasicHttpBinding_IMainService" maxReceivedMessageSize="10485760">
			  <readerQuotas maxBytesPerRead="10485760" maxArrayLength="10000000" maxDepth="10000000"/>
		  </binding>
      </basicHttpBinding>
  </bindings>
		<client>
      <endpoint address="http://localhost:65428/MainService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IMainService" contract="MainServiceReference.IMainService"
          name="BasicHttpBinding_IMainService" />
  </client>
        <services>
            <service name="PMService1.MainService"  behaviorConfiguration="mexBehavior">
                <endpoint address="MainServiceReference" binding="basicHttpBinding" contract="PMService1.IMainService" bindingConfiguration="BasicHttpBinding_IMainService"></endpoint>
                <endpoint address="MainServiceReference" binding="netTcpBinding" contract="PMService1.IMainService"></endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>

                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8086" />
                        <add baseAddress="net.tcp://localhost:8090"/>
                    </baseAddresses>
                </host>
			
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>