<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IMainService" />
   </basicHttpBinding>
   <netTcpBinding>
    <binding name="NetTcpBinding_IMainService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="http://pasan-desktop:8086/MainServiceReference"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMainService"
    contract="ServiceReference1.IMainService" name="BasicHttpBinding_IMainService" />
   <endpoint address="net.tcp://pasan-desktop:8090/MainServiceReference"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMainService"
    contract="ServiceReference1.IMainService" name="NetTcpBinding_IMainService">
    <identity>
     <userPrincipalName value="PASAN-DESKTOP\Pasan" />
    </identity>
   </endpoint>
  </client>
		<services>
			<service name="PMService2.ProjectService"  behaviorConfiguration="mexBehavior">
				<endpoint address="ProjectServiceReference" binding="basicHttpBinding" contract="PMService2.IProjectService"></endpoint>
				<endpoint address="ProjectServiceReference" binding="netTcpBinding" contract="PMService2.IProjectService"></endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8076"/>
						<add baseAddress="net.tcp://localhost:8070"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>