<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IProjectService" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:65524/ProjectService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProjectService"
    contract="ProjectServiceReference.IProjectService" name="BasicHttpBinding_IProjectService" />
  </client>
		<services>
			<service name="PMService2.ProjectService"  behaviorConfiguration="mexBehavior">
				<endpoint address="ProjectServiceReference" binding="basicHttpBinding" contract="PMService2.IProjectService"></endpoint>
				<endpoint address="ProjectServiceReference" binding="netTcpBinding" contract="PMService2.IProjectService"></endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8076"/>
						<add baseAddress="net.tcp://localhost:8070"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>